<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="arrow-back-circle-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{commonService.getShelfName()}}'s Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Floating button to add a new product -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="openAddProductModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- List of shelf products -->
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-label>
        <h2>{{ product.productName }}</h2>
        <p>Quantity: {{ product.quantity }} {{ product.unit }}</p>
        <p>Expiration Date: {{ product.expirationDate }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="deleteShelfProduct(product.productId!)">Delete</ion-button>
    </ion-item>
  </ion-list>

  <!-- Modal for adding new product -->
  <ion-modal [isOpen]="isAddModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Add New Product</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAddProductModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <!-- Form for adding a new shelf product -->
        <ion-item>
          <ion-input
            [(ngModel)]="newProductName"
            type="text"
            required
            minlength="1"
            maxlength="100"
            fill="solid"
            labelPlacement="stacked"
            label="Product Name"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="number"
            [(ngModel)]="newProductQuantity"
            required
            min="1"
            max="1000"
            fill="solid"
            labelPlacement="stacked"
            label="Quantity"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-select
            [(ngModel)]="newProductUnit"
            fill="solid"
            labelPlacement="stacked"
            label="Unit"
          >
            <ion-select-option *ngFor="let unit of ['g', 'kg', 'ml', 'l', 'pcs']">{{ unit }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input
            value="{{ newProductExpirationDate | date: 'yyyy.MM.dd' }}"
            id="date"
            fill="solid"
            labelPlacement="stacked"
            label="Expiration Date"
          ></ion-input>
          <ion-popover trigger="date" >
            <ng-template>
              <ion-datetime presentation="date" [(ngModel)]="newProductExpirationDate"></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>

        <ion-button expand="block" [disabled]="!newProductName || !newProductQuantity || !newProductUnit || !newProductExpirationDate" (click)="addProductToShelf()">Add Product</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
