<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button (click)="reloadFridges()">
      <ion-icon slot="icon-only" name="reload"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>Fridge</ion-title>
</ion-toolbar>
<ion-toolbar>
  <ion-segment [(ngModel)]="filterOption" (ionChange)="onFilterChange()">
    <ion-segment-button value="owned">
      <ion-label>Owned</ion-label>
    </ion-segment-button>
    <ion-segment-button value="family" *ngIf="authService.isLoggedIn() && this.familyId">
      <ion-label>Family-Shared</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content class="page-content">
  <ng-container *ngIf="isLoading; else fridgeList">
    <ion-list>
      <ion-item *ngFor="let i of [1, 2, 3]">
        <ion-label>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #fridgeList>
    <ion-grid>
      <ion-row>
        <!-- Fridge tiles -->
        <ion-col size="6" *ngFor="let fridge of filteredFridges$ | async" class="fridge-tile">
          <ion-card (click)="navigateToShelf(fridge.fridgeId!)">
            <img src="assets/icon/fridge-icon.webp" alt="Fridge Image"/>
            <ion-card-header>
              <ion-card-title>{{ fridge.fridgeName }}</ion-card-title>
            </ion-card-header>
            <ion-card-content *ngIf="filterOption === 'owned'">
              <ion-button color="primary" expand="block" (click)="openUpdateFridgeModal(fridge); $event.stopPropagation()">Update</ion-button>
              <ion-button color="danger" expand="block" (click)="presentDeleteConfirmation(fridge.fridgeId); $event.stopPropagation()">Delete</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Add new fridge tile -->
        <ion-col size="6" *ngIf="filterOption !== 'family'">
          <ion-card (click)="openAddFridgeModal()">
            <ion-card-content class="add-fridge-card-content">
              <ion-icon name="add-circle-outline" size="large"></ion-icon>
              <ion-card-title>Add New Fridge</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
  <!-- Add Fridge Modal -->
  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="closeAddFridgeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Add Fridge</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAddFridgeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-item>
          <ion-label position="floating">Fridge Name</ion-label>
          <ion-input [(ngModel)]="newFridgeName"></ion-input>
        </ion-item>
        <ion-item *ngIf="authService.isLoggedIn() && this.familyId">
          <ion-label>Share with Family</ion-label>
          <ion-toggle [(ngModel)]="newFridgeSharedWithFamily"></ion-toggle>
        </ion-item>
        <ion-button expand="block" [disabled]="!newFridgeName" (click)="addFridge()">Add Fridge</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Update Fridge Modal -->
  <ion-modal [isOpen]="isUpdateModalOpen" (ionModalDidDismiss)="closeUpdateFridgeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Update Fridge</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeUpdateFridgeModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-item>
          <ion-label position="floating">Fridge Name</ion-label>
          <ion-input [(ngModel)]="selectedFridgeName"></ion-input>
        </ion-item>
        <ion-item *ngIf="authService.isLoggedIn() && this.familyId">
          <ion-label>Share with Family</ion-label>
          <ion-toggle [(ngModel)]="selectedFridgeSharedWithFamily"></ion-toggle>
        </ion-item>
        <ion-button expand="block" [disabled]="!selectedFridgeName" (click)="updateFridge()">Update Fridge</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
