:host {
  .fridge-tile {
    ion-card {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    ion-card-header {
      flex: 1;
    }

    ion-card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .page-content {
    --background: #123e47;
  }
}
