<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="reloadShoppingLists()">
        <ion-icon slot="icon-only" name="reload"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Shopping Lists</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="openAddShoppingListModal()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="filterOption" (ionChange)="onFilterChange()">
      <ion-segment-button value="owned">
        <ion-label>Owned</ion-label>
      </ion-segment-button>
      <ion-segment-button value="family" *ngIf="authService.isLoggedIn() && this.familyId">
        <ion-label>Family-Shared</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">
  <!-- Loading state -->
  <ng-container *ngIf="isLoading; else shoppingListContent">
    <ion-list>
      <ion-item *ngFor="let i of [1, 2, 3]">
        <ion-label>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <!-- Shopping list content -->
  <ng-template #shoppingListContent>
    <ion-list class="shopping-list">
      <ion-card *ngFor="let shoppingList of filteredShoppingLists$ | async" color="light" class="shopping-list-card" (click)="isExpanded[shoppingList.listId!] = !isExpanded[shoppingList.listId!]">
        <ion-card-header class="shopping-list-header">
          <ion-item lines="none" class="shopping-list-header-item
">
            <ion-label>
              <h2>{{ shoppingList.name }}</h2>
            </ion-label>
            <ion-button *ngIf="filterOption === 'owned'" slot="end" fill="clear" color="primary" (click)="$event.stopPropagation();openEditShoppingListModal(shoppingList)">Edit</ion-button>
            <ion-button *ngIf="filterOption === 'owned'" slot="end" fill="clear" color="danger" (click)="$event.stopPropagation();deleteShoppingList(shoppingList.listId!)">Delete</ion-button>
              <ion-icon slot="end" color="primary" [name]="isExpanded[shoppingList.listId!] ? 'chevron-up' : 'chevron-down'"></ion-icon>
          </ion-item>
        </ion-card-header>

        <!-- Expanded content for shopping list items -->
        <ion-card-content *ngIf="isExpanded[shoppingList.listId!]">
          <ion-list class="shopping-list-products">
            <ion-item *ngFor="let product of shoppingList.items" lines="full" class="shopping-list-products-item">
              <ion-label>
                <p style="color: greenyellow"><strong>{{ product.productName }}</strong> - {{ product.quantity }} {{ product.unit }}</p>
              </ion-label>
              <ion-button slot="end" fill="outline" color="primary" (click)="openEditProductModal(product, shoppingList.listId!)">Edit</ion-button>
              <ion-button slot="end" fill="outline" color="danger" (click)="deleteProduct(shoppingList.listId!, product.itemId!)">Delete</ion-button>
            </ion-item>
            <ion-button expand="block" color="secondary" style="margin-top: 1rem" (click)="openAddProductModal(shoppingList.listId!)">Add Product</ion-button>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-template>

  <!-- Add Shopping List Modal -->
  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="closeAddShoppingListModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Add Shopping List</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAddShoppingListModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="floating">Shopping List Name</ion-label>
          <ion-input [(ngModel)]="newShoppingListName" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="authService.isLoggedIn() && this.familyId">
          <ion-label>Share with Family</ion-label>
          <ion-toggle [(ngModel)]="newShoppingListSharedWithFamily"></ion-toggle>
        </ion-item>
        <ion-button expand="block" [disabled]="!newShoppingListName" (click)="addShoppingList()">Add Shopping List</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Edit Shopping List Modal -->
  <ion-modal [isOpen]="isUpdateModalOpen" (ionModalDidDismiss)="closeEditShoppingListModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Edit Shopping List</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeEditShoppingListModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="floating">Shopping List Name</ion-label>
          <ion-input [(ngModel)]="selectedShoppingListName" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="authService.isLoggedIn() && this.familyId">
          <ion-label>Share with Family</ion-label>
          <ion-toggle [(ngModel)]="selectedShoppingListSharedWithFamily"></ion-toggle>
        </ion-item>
        <ion-button expand="block" [disabled]="!selectedShoppingListName" (click)="updateShoppingList()">Update Shopping List</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Add Product Modal -->
  <ion-modal [isOpen]="isAddProductModalOpen" (ionModalDidDismiss)="closeAddProductModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Add Product</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAddProductModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="floating">Product Name</ion-label>
          <ion-input [(ngModel)]="newProductName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Quantity</ion-label>
          <ion-input [(ngModel)]="newProductQuantity" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Unit</ion-label>
          <ion-select [(ngModel)]="newProductUnit" interface="action-sheet">
            <ion-select-option value="kg">kg</ion-select-option>
            <ion-select-option value="g">g</ion-select-option>
            <ion-select-option value="l">l</ion-select-option>
            <ion-select-option value="ml">ml</ion-select-option>
            <ion-select-option value="pcs">pcs</ion-select-option>
            <ion-select-option value="dkg">dkg</ion-select-option>
            <ion-select-option value="dl">dl</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" [disabled]="!newProductName || !newProductQuantity || !newProductUnit" (click)="addProductToShoppingList()">Add Product</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Edit Product Modal -->
  <ion-modal [isOpen]="isEditProductModalOpen" (ionModalDidDismiss)="selectedProduct = undefined; isEditProductModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Edit Product</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeEditProductModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="floating">Product Name</ion-label>
          <ion-input [(ngModel)]="editProductName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Quantity</ion-label>
          <ion-input [(ngModel)]="editProductQuantity" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Unit</ion-label>
          <ion-select [(ngModel)]="editProductUnit">
            <ion-select-option value="g">g</ion-select-option>
            <ion-select-option value="kg">kg</ion-select-option>
            <ion-select-option value="ml">ml</ion-select-option>
            <ion-select-option value="l">l</ion-select-option>
            <ion-select-option value="pcs">pcs</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button expand="block" (click)="updateProduct()">Update Product</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
